<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Привет, Марс!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-danger">Жди нас, Марс!</h1>
                <img src="{{ url_for('static', filename='images/mars_image.png') }}" alt="Картинка Марса">
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">Рекламная кампания</h4>
                    <p>
                        Человечество вырастает из детства.<br>
                        Человечеству мала одна планета.<br>
                        Мы сделаем обитаемыми безжизненные пока планеты.<br>
                        И начнем с Марса!<br>
                        Присоединяйся!
                    </p>
                </div>
            wwwwwwwww</div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.jswwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
